.index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.index__menu {
    width: 46vw;
    height: 46vw;
    margin: 2vw 2vw 2vw 2vw;
    border-radius: 15px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index__menu-title{
    color: #fff;
}
