.wallpaper-detail{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.wallpaper-detail__button{
    width: 30vw;
    height: 80px;
    position: absolute;
    bottom: 50px;
    left: 35vw;
    border-radius: 40px;
    border: 1px solid rgb(194, 190, 190);
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}